@{
    Layout = null;
    ViewBag.Title = "SignIn";
}
@model Common.DTOs.DTO_LogIn
@Styles.Render("~/Vendor/Css")

<body>
    <div class="d-flex w-100 h-100 align-items-center justify-content-center">
        <div class="col-md-3 col-12">
            <div class="card shadow">
                <div class="card-body">
                    @using (Html.BeginForm("LogIn", "Dashboard"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, "Nombre de Usuario")
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input shadow form-control bg-secondary text-light shadow" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, "Contraseña")
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input shadow form-control bg-secondary text-light shadow" } })
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <button type="submit" class=" btn btn-outline-primary shadow" id="btn_Validar" disabled>Iniciar Sesión</button>
                        </div>
                        <br />
                        <i id="labelError" class="text-danger hidden">
                            Debe completar todos los campos antes de Iniciar Sesión
                        </i>
                    }
                </div>
            </div>
        </div>
    </div>
</body>



@Scripts.Render("~/Vendor/Js")

<script>
    $('.input').keyup(function () {
        var count = $('.input').length;
        var aux = 0;
        $('.input').each(function () {
            if ($(this).val().length > 0) {
                aux += 1
            }
        })

        if (count != aux) {
            $('#labelError').show();
            $('#btn_Validar').attr('disabled', true);
        }
        else {
            $('#labelError').hide();
            $('#btn_Validar').removeAttr("disabled");
        }
    });
</script>